# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Specify what's text and should be normalized
*.py text
*.in text
*.rst text
*.cfg text
*.ini text
*.yml text
*.json text
*.bat text
*.sh text
RELEASING text

# NEWS and Windows batch files should be crlf
NEWS eol=crlf
*.bat eol=crlf