attrs==18.2.0
colorama==0.3.9
coverage==4.5.3
enum34==1.1.6
freezegun==0.3.10
hypothesis==3.30.4
pip==10.0.1
pluggy==0.5.2
py==1.4.34
pytest==3.2.5
pytest-cov==2.5.1
setuptools==39.2.0
six==1.12.0
tox==2.9.1
virtualenv==15.2.0
