name: Validate

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        python-version: [
          "2.7",
          "3.5",
          "3.6",
          "3.7",
          "3.8",
          "3.9",
          "pypy2",
          "pypy3",
        ]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    env:
      TOXENV: py
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: python -m pip install -U tox
      - name: Install zic (Windows)
        run: |
          curl https://get.enterprisedb.com/postgresql/postgresql-9.5.21-2-windows-x64-binaries.zip --output $env:GITHUB_WORKSPACE\postgresql9.5.21.zip
          unzip -oq $env:GITHUB_WORKSPACE\postgresql9.5.21.zip -d .postgresql
        if: runner.os == 'Windows'
      - name: Run updatezinfo.py (Windows)
        run: |
          $env:Path += ";$env:GITHUB_WORKSPACE\.postgresql\pgsql\bin"
          ci_tools/retry.bat python updatezinfo.py
        if: runner.os == 'Windows'
      - name: Run updatezinfo.py (Unix)
        run: ./ci_tools/retry.sh python updatezinfo.py
        if: runner.os != 'Windows'
      - name: Run tox
        run: python -m tox
      - name: Generate coverage.xml
        run: python -m tox -e coverage
      - name: Report coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./.tox/coverage.xml
          name: ${{ matrix.os }}:${{ matrix.python-version }}
          fail_ci_if_error: true

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Install tox
        run: python -m pip install -U tox
      - name: Run tox
        run: python -m tox -e docs

  latest-tz:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Install tox
        run: python -m pip install -U "tox<3.8.0"
      - name: Run updatezinfo.py
        run: ./ci_tools/retry.sh python updatezinfo.py
      - name: Run tox
        run: python -m tox -e tz

  build-dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install tox
        run: python -m pip install -U tox
      - name: Run tox
        run: python -m tox -e build
      - name: Check generation
        run: |
          exactly_one() {
            value=$(find dist -iname $1 | wc -l)
            if [ $value -ne 1 ]; then
              echo "Found $value instances of $1, not 1"
              return 1
            else
              echo "Found exactly 1 instance of $value"
            fi
          }
          # Check that exactly one tarball and one wheel are created
          exactly_one '*.tar.gz'
          exactly_one '*.whl'
